@import '_vars'

.login
	width 80%
	margin 0 auto
	
	input 
		height 50px
		min-width 200px
		display block
		line-height 2em
		font-family primary-font
		border none
		border-bottom 1px solid #ddd
		box-sizing border-box
		
		&:focus
			outline none
			border-bottom-width 2px