@import '_vars'
@import '_landing'

*, body 
	padding 0
	border 0
	font-family primary-font
	
body
	overflow hidden
	
h1
	font-size 2.1em
	line-height 2em
	width 80%
	margin 0 auto
	color black-text
	font-weight 900
	margin-top 70px
	
h2
	width 80%
	margin 0 auto
	line-height 1.6em
	font-size 1em
	color grey-text
	font-weight 300
	
	span 
		color primary-blue
	
h6
	font-size 1em
	font-weight 900
	width 90%
	margin auto
	text-align center
	color #bebebe
	letter-spacing 0.5px
	
	
	.or
		display inline
		color primary-blue

		&:before
			content '/f004'